.vs/Project Oct 28/v15/.suo
MyProject/MyProject/.vs/config/applicationhost.config
MyProject/MyProject/.vs/MyProject/v15/.suo
MyProject/MyProject/.vs/MyProject/v15/Server/sqlite3/db.lock
MyProject/MyProject/.vs/MyProject/v15/Server/sqlite3/storage.ide
MyProject/MyProject/.vs/MyProject/v15/Server/sqlite3/storage.ide-shm
MyProject/MyProject/.vs/MyProject/v15/Server/sqlite3/storage.ide-wal
MyProject/MyProject/.vs/MyProject/v15/sqlite3/db.lock
MyProject/MyProject/.vs/MyProject/v15/sqlite3/storage.ide
MyProject/MyProject/.vs/MyProject/v15/sqlite3/storage.ide-shm
MyProject/MyProject/.vs/MyProject/v15/sqlite3/storage.ide-wal
MyProject/MyProject/MyProject/bin/MyProject.dll
MyProject/MyProject/MyProject/bin/MyProject.pdb
MyProject/MyProject/MyProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyProject/MyProject/MyProject/obj/Debug/MyProject.csproj.CoreCompileInputs.cache
MyProject/MyProject/MyProject/obj/Debug/MyProject.csproj.FileListAbsolute.txt
MyProject/MyProject/MyProject/obj/Debug/MyProject.dll
MyProject/MyProject/MyProject/obj/Debug/MyProject.pdb
MyProject/MyProject/MyProject/obj/Debug/Tsc.out
MyProject/MyProject/.vs/MyProject/v15/sqlite3/storage.ide
MyProject/MyProject/.vs/MyProject/v15/.suo
MyProject/MyProject/.vs/MyProject/v15/sqlite3/storage.ide
